html{font-family: Arial;}
h1{
	text-transform: uppercase;
	text-align: right;
}
h2{
	text-transform: uppercase;
	text-align: right;
}
p{
	text-align: justify;
	font-size: 12px;
	margin=left:5px;
	margin-top:10px;
}
.gremio{color:blue;}
.inter{color:red;
	   font-style: italic;
}
.cbf{color: yellow;}
.surf{ background-color: lightblue;}
.futebol{background-color: #696969;
		 font-size: 30px
}